@media only screen and (max-width:1200px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .header-icon i {
        display: block;
    }

    .nav-ul {
        display: none;
    }

    .sec1-btn {
        padding: 5px 5px;
        margin: 0 10px;
    }

    /* section 2 start */

    #sec-2 .row {
        flex-direction: column;
    }

    #sec-2 .row .col {
        width: 100%;
        text-align: center;
    }


    /* section 2 end */

    /* section 3 start */
    #sec-3 .row {
        flex-direction: column-reverse;
    }

    #sec-3 .row .col {
        width: 100%;
        text-align: center;
    }

    /* section-3 end */

    /* section 4 start */
    #sec-4 .row {
        flex-direction: column;
    }

    #sec-4 .row .col {
        width: 100%;
        margin: 20px 0;
    }

    /* footer start */

    #footer .row {
        flex-direction: column;

    }

    #footer .row .col-40 {
        width: 100%;
    }

    #footer .row .col-60 {
        width: 100%;
    }

    #footer .row .col-60 .col {
        width: 100%;
        margin: 10px 0;
    }





}