@media only screen and (max-width:1200px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .nav .nav-ul {
        display: none;
    }

    .nav .nav-icon-bar {
        display: block;
    }

    .header-content .row {
        flex-direction: column;
    }

    .header-content .row .col {
        width: 100%;
    }

    .header-btn {
        margin: 30px 90px;
    }

    /* header end */

    #sec-1 .row {
        flex-direction: column-reverse;

    }

    #sec-1 .row .col {
        width: 100%;
        margin: 0 auto;
    }

    .sec1-img {
        margin: 0 auto;
    }

    #sec-1 .row .col2 {
        width: 100%;
        text-align: center;
    }

    /* section2 start */
    #sec-2 .row {
        flex-direction: column;
    }

    #sec-2 .row .col {
        width: 100%;
        border: 2px solid lawngreen;
        margin: 10px 0;
    }

    /* section3 start */
#sec-3 .row {
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
    gap: 30px;
}



    /* section4 start */

    #sec-4 .row {
        flex-direction: column;
    }

    #sec-4 .row .col {
        width: 100%;
    }

    .sec4-btn {
        margin: 0 100px;
    }

    /* section6 start */
    .sec6-content {
        padding: 0;
    }

    #sec-6 .sec6-row {
        flex-direction: column;
    }

    #sec-6 .sec6-row .col1 {
        border: 2px solid rgb(60, 105, 60);
        width: 100%;
        margin: 20px 0;
    }

    .col1 .row {
        align-items: center;
    }

    .col1 .row .col {
        width: 100%;
    }

    /* section 7 start */
    .sec7-form {
        width: 100%;
    }

    /* footer start */
    #footer .row {
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    #footer .row .col-40 {
        width: 100%;
        /* border: 2px solid; */
    }


    #footer .row .col-60 {
        width: 100%;
        /* border: 2px solid; */

    }

    #footer .row .col-60 .col {
        width: 100%;
        /* border: 2px solid; */
        margin: 20px 0;
    }

}