* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    width: 90%;
    margin: 0 auto;

}

#header {
    background: #b75a74;
    position: relative;
    padding: 50px 0;

}

.nav {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav-list .nav-item {
    display: inline-block;
    padding: 0 25px;

}

.nav-item .nav-a {
    text-decoration: none;
    color: #ffefd5;
    font-size: 20px;
    font-weight: 450;
}

.header-content {
    color: #ffefd5;
    padding: 50px 0;
    /* z-index: 1; */

}

.header-content .header-h1 {
    font-size: clamp(20px, 5vw, 70px);
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0;
}

.header-content .header-p {
    width: 50%;
    font-size: clamp(10px, 5vw, 30px);
    font-weight: 400;


}

.p-div {

    /* text-align: right; */
}

.header-content .header-button {
    background-color: #ffefd5;
    color: #b75a74;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: clamp(5px, 5vw, 40px);
    font-weight: 700;
}

.header-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;

}

.icon {
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    display: none;
}


/* header end */

#sec-1 {
    background: #ffefd5;
    padding: 30px 0;
}

.sec1-h1 {
    font-size: clamp(20px, 5vw, 90px);
    color: #b75a74;
    font-weight: 700;
    text-align: center;
}

.sec1-p {
    font-size: clamp(10px, 5vw, 40px);
    color: #b75a74;
    font-weight: 400;
    text-align: center;
}

#sec-1 .row {
    display: flex;

}

#sec-1 .row .col {
    width: 33.33%;
    /* border: 2px solid; */
    margin-top: 20px;
}

.sec1-img {
    margin: 0 auto;
    width: 65%;
}

.sec1-h3 {
    font-size: clamp(10px, 5vw, 30px);
    color: #b75a74;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}

.col-p {
    font-size: clamp(10px, 5vw, 20px);
    color: #b75a74;
    font-weight: 400;
    text-align: center;

}

/* sec-1 end */

#sec-2 {
    background: #b75a74;
    padding: 30px 0;
}

#sec-2 .row {
    display: flex;
}

#sec-2 .row .col {
    width: 50%;
    /* border: 2px solid; */
    margin: 40px 0;
}

.sec2-img {
    width: 70%;
    margin: 0 auto;
}

.sec2-h1 {
    font-size: clamp(10px, 5vw, 80px);
    color: #ffefd5;
    font-weight: 700;
}

.sec2-p {
    margin: 35px 0;
    font-size: clamp(10px, 5vw, 40px);
    color: #ffefd5;
    font-weight: 400;

}

.sec2-btn {
    font-size: clamp(10px, 5vw, 40px);
    color: #b75a74;
    font-weight: 600;
    border-radius: 32px;
    background-color: #ffefd5;
    padding: 10px 20px;
    border: none;
    outline: none;

}

/* section2 end */

#sec-3 {
    background: #ffefd5;
    padding: 30px 0;
}

.sec3-h1 {
    font-size: clamp(10px, 5vw, 50px);
    color: #b75a74;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}

.sec3-p {
    font-size: clamp(10px, 5vw, 30px);
    color: #b75a74;
    font-weight: 400;
    text-align: center;
}

#sec-3 .row {
    display: flex;
    margin: 50px 0;
}

#sec-3 .row .col {
    width: 33.33%;
    /* border: 2px solid; */
}

.sec3-img {
    width: 70%;
    margin: 0 auto;
}

/* sec3 end */

#sec-4 {
    background: #b75a74;
    padding: 30px 0;
}

#sec-4 .row {
    display: flex;
}

#sec-4 .row .col {
    width: 50%;
    /* border: 2px solid; */
}

.sec4-h1 {
    font-size: clamp(10px, 5vw, 75px);
    color: #ffefd5;
    font-weight: 700;
    margin: 50px 0;
}

.sec4-p {
    font-size: clamp(10px, 5vw, 30px);
    color: #ffefd5;
    font-weight: 400;
    /* margin: 50px 0; */

}

.sec4-btn {
    font-size: clamp(10px, 5vw, 25px);
    color: #b75a74;
    font-weight: 600;
    border-radius: 32px;
    background-color: #ffefd5;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-top: 50px;
}

.sec4-img {
    width: 70%;
    margin: 0 auto;
}

/* section 4 end */

#sec-5 {
    background: #ffefd5;
    ;
    padding: 30px 0;
}

.sec5-h1 {
    font-size: clamp(20px, 5vw, 75px);
    color: #b75a74;
    font-weight: 700;
    text-align: center;
}

.sec5-p {
    font-size: clamp(10px, 5vw, 30px);
    color: #b75a74;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}

.subscribe {
    display: flex;
    justify-content: center;

}

.subscribe .sec5-form {}

.subscribe .sec5-form .sec5-input {
    border-radius: 20px;
}

.subscribe .sec5-btn {
    border-radius: 40px;
    padding: 0 10px;
    background: #b75a74;
    color: #ffefd5;
    border: none;
    outline: none;
}

/* section-5 end */

#footer {
    background: #29141a;
    padding: 80px 0;
}

#footer .row {
    display: flex;
}

#footer .row .col-40 {
    /* border: 2px solid; */
    width: 40%;
}



.footer-p {
  font-size: clamp(10px, 5vw, 20px);
      color: #ffffff;
    font-weight: 100;
    margin: 20px 0;
    width: 90%;
}

.footer-icon {
    color: #ffffff;
    word-spacing: 10px;
}

#footer .row .col-60 {
    /* border: 2px solid; */
    width: 60%;
}

#footer .row .col-60 .col {
    width: 33.33%;
}

.footer-h4 {

    font-size: clamp(18px, 4vw, 38px);
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
}

.footer-ul {
    list-style: none;
}

.footer-ul .footer-li {
    margin: 10px 0;
}

.footer-ul .footer-li .footer-a {
    font-size: clamp(18px, 4vw, 22px);
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
}