@media only screen and (max-width:1200px) {
    
}
@media only screen and (max-width:992px) {
   
}
@media only screen and (max-width:768px){
    .icon{
        display: block;
    }

    .nav-list{
        display: none;
    }
    .header-img{
        height: 100px;
        
    }
    .header-content .header-p{
        width: 70%;
    }
}